<?xml version="1.0"?>
<ProgramSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <X>143</X>
  <Y>33</Y>
  <Width>1000</Width>
  <Height>617</Height>
  <WindowState>Normal</WindowState>
  <DialogX>949</DialogX>
  <DialogY>86</DialogY>
  <JpegQuality>85</JpegQuality>
</ProgramSettings>